body {
    background-color: #070708;
    margin: 0;
    font-family: Manrope, var(--default-font-family);
}

header {
    margin-left: 8%;
    margin-right: 8%;
    border-left: 2px solid #1C1C21;
    border-right: 2px solid #1C1C21;
    padding-top: 10px;
    height: 53px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar-brand {
    font-size: 24px;
    color: white;
    height: 15px;
}

.navbar-center {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

/* Початкові стилі для мобільного відображення */
.menu-toggle {
    border-top: 2px solid #1C1C21;
    border-left: 2px solid #1C1C21;
    border-radius: 8px 0 0 0;
    background-color: transparent;
    color: #1C1C21;
    padding: 16px;
    padding-left: 20px;
    margin: 0;
    cursor: pointer;
    display: block;
}

.menu-toggle-icon {
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #1C1C21;
    position: relative;
}

.menu-toggle-icon::before,
.menu-toggle-icon::after {
    content: '';
    width: 20px;
    height: 2px;
    background-color: #1C1C21;
    position: absolute;
    left: 0;
    transition: 0.3s;
}

.menu-toggle-icon::before {
    top: -6px;
}

.menu-toggle-icon::after {
    top: 6px;
}

.navbar-menu,
.contact-button {
    display: none;
}

.expanded .navbar-menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #222222;
    position: absolute;
    top: 100%;
    left: -2px;
    z-index: 1;
    border-left: 2px solid #1C1C21;
    border-right: 2px solid #1C1C21;
    border-bottom: 2px solid #1C1C21;
    border-radius: 0 0 4px 4px;
}

.expanded .contact-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #222222;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    border-left: 2px solid #1C1C21;
    border-right: 2px solid #1C1C21;
    border-bottom: 2px solid #1C1C21;
}

.navbar-menu a {
    padding: 16px 24px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    background-color: #070708;
    transition: background 0.3s;
    border-bottom: 1px solid #1C1C21;
}

.navbar-menu a:hover {
    background-color: #2b2b2f;
}

.navbar-menu a.active {
    background-color: #131316;
}

.contact-button {
    background-color: #1C1C21;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.contact-button:hover {
    background-color: #2b2b2f;
}

/*Stunning Photography by Damien Braun*/

:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
 .hero-section-1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 40px 16px;
  gap: 20px;
  border-top: 2px solid #1c1c21;
  border-bottom: 2px solid #1c1c21;
  box-sizing: border-box;
  width: 100%;
}


.hs-1-text-container {
  display: flex;
  flex-direction: column;
}

.hs-1-text, .hs-1-heading, .hs-1-work-together, .hs-1-sub-con-heading {
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap;
}

.hs-1-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  color: #62646c;
}

.hs-1-heading {
  font-size: 40px;
  font-weight: 600;
  line-height: 54px;
}

.hs-1-sub-con-heading, .hs-1-work-together {
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
}

.hs-1-sub-container-1 {
  display: flex;
  align-items: center;
  gap: 10px;
  width: auto;
}

.hs-1-button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: auto;
  padding: 14px 30px;
  background: #492bed;
  border-radius: 100px;
  box-shadow: inset 4px 4px 17.4px rgba(255, 255, 255, 0.28);
}

.hs-1-icon {
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.hs-1-vector-stroke {
  width: 100%;
  height: 100%;
  background: url(./assets/images/7d15dafb-b62d-4184-a949-b156cf3b1e9c.png) no-repeat center;
  background-size: 100% 100%;
}

.abstract-design {
  position: absolute;
  display: none;
}

.group {
  position: absolute;
  width: 100%;
  height: 100%;
}

.vector {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./assets/images/24a3b775-8f7c-4558-b2c0-505c350dde32.png) no-repeat center;
    background-size: 100% 100%;
  }

/*hero-section-3*/

.hero-section-3 {
  display: flex;
  justify-content: center;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 10px;
  width: 50%;
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.item1 { grid-column: 1 / 3; grid-row: 1 / 2; }
.item2 {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
  border-top: 10px solid #000;
  border-left: 10px solid #000;
  border-right: 10px solid #000;
  position: relative;
  border-radius: 20px 20px 0 0;
  width: 200px;
  height: 300px;
  z-index: 2;
  transform: translateY(100px) translateX(-140px);
}
.item3 { grid-column: 5 / 7; grid-row: 1 / 2; }
.item4 { 
  grid-column: 3 / 5; 
  grid-row: 1 / 2;
}
.item5 { grid-column: 5 / 7; grid-row: 2 / 2; }
.item6 { 
  grid-column: 1 / 2;
  grid-row: 2 / 2;
  width: 100px;
  height: 200px;
}

/*About*/

.about-container {
  width: 358px;
  margin: 80px auto 0 auto;
}
.about-sub-container {
  display: flex;
  align-self: stretch;
  flex-wrap: nowrap;
  gap: 20px;
  min-width: 0;
  padding: 0 0 20px 0;
}
.about-text-container {
  display: flex;
  flex-direction: column;
}
.about-text {
  height: 19px;
  color: #797b85;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  text-transform: uppercase;
}
.about-heading {
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}
.about-button {
  width: 155px;
  padding: 14px 20px 14px 20px;
  background: #1c1c21;
  border-radius: 8px;
}
.about-button-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
.about-image-container {
  display: flex;
  align-self: stretch;
  align-items: center;
  gap: 20px;
}
.about-image {
  width: 358px;
  height: 375px;
  background: url(./assets/images/279887bd-3ee4-4f1e-b516-1a510f2d0749.png)
    no-repeat center;
  background-size: cover;
}
.about-content-container {
  border: 1px solid #1c1c21;
  border-radius: 16px;
}
.about-intro-container {
  gap: 12px;
  padding: 24px 24px 24px 24px;
}
.about-intro-header {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 4px;
}
.about-icon {
  flex-shrink: 0;
  position: relative;
  width: 23.4px;
  height: 24px;
}
.about-icon-star {
  background: url(./assets/images/fe8123ca-ad04-4eb0-9ba8-5513e954fed7.png)
    no-repeat center;
  background-size: 100% 100%;
}
.about-intro-heading {
  height: 27px;
  color: #c9cace;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
}
.about-paragraph {
  display: flex;
  width: 310px;
  height: 189px;
  color: #aeb0b6;
  font-size: 14px;
  line-height: 21px;
}
.about-contact-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 24px 24px 24px 24px;
}
.about-contact-header {
  display: flex;
  align-items: flex-end;
  gap: 4px;
}
.about-contact-icon {
  flex-shrink: 0;
  position: relative;
  width: 23.4px;
  height: 24px;
}
.about-icon-star {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/ce7ba668-9ec2-4053-afb7-e27836e04aa5.png)
    no-repeat center;
  background-size: 100% 100%;
}
.about-contact-heading {
  height: 27px;
  color: #c9cace;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
}
.about-contact-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.about-contact-data-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.about-contact-label {
  height: 21px;
  color: #e4e4e6;
  font-size: 14px;
  font-weight: 500;
}
.about-contact-detail {
  height: 24px;
  color: #aeb0b6;
  font-size: 16px;
  font-weight: 400;
}
.about-socials-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.about-social-buttons{
  display: flex;
  gap: 10px;
  padding: 8px 8px 8px 8px;
  border: 1px solid #1c1c21;
  border-radius: 100px;
}
.about-social-button {
  gap: 10px;
  padding: 12px 12px 12px 12px;
  background: #1c1c21;
  border: none;
  border-radius: 100px;
}
.about-social-icon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
}
.about-vector-f {
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  background: url(./assets/images/86f02128-77c6-4f2e-b096-d3282ea0d97c.png)
    no-repeat center;
  background-size: 100% 100%;
}
.about-vector-t {
  width: 100%;
  height: 100%;
  margin: 1.5px 0 0 0;
  background: url(./assets/images/12be6832-764d-4de7-9ee6-459dab9813c2.png)
    no-repeat center;
  background-size: 100% 100%;
}
.about-vector-in {
  width: 100%;
  height: 100%;
  background: url(./assets/images/2d7a1576-9dce-42a3-a9c0-6736e57a2ee8.png)
    no-repeat center;
  background-size: 100% 100%;
}
.about-actions-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex-shrink: 0;
  gap: 16px;
}
.about-action-button {
  display: flex;
  justify-content: center;
  padding: 14px 24px 14px 24px;
  background: #1c1c21;
  border-radius: 8px;
}
.about-action-text {
  height: 21px;
  color: #ffffff;
}

/*Services*/


.services-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.services-image {
  width: 360px;
  height: 301px;
  background: url(./assets/images/9f718496a70682303511006ba1a401c7848021b1.png)
    no-repeat center;
  background-size: cover;
  border-radius: 12px 12px 30px 30px;
}
.services-sub-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.s-sub-container {
  display: flex;
  align-items: center;
  gap: 4px;
}
.services-sub-heading {
  color: #797b85;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}
.services-button {
  padding: 14px 30px 14px 30px;
  background: #492bed;
  border-radius: 100px;
  box-shadow: 4px 4px 17.4px 0 rgba(255, 255, 255, 0.28) inset;
}
.services-icon {
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.services-vector {
  width: 13.75px;
  height: 13.75px;
  margin: 3.125px 0 0 3.125px;
  background: url(./assets/images/1512b518-2570-481a-9f14-191f992d8ff1.png)
    no-repeat center;
  background-size: 100% 100%;
}
.services-paragraph {
  width: 358px;
  height: 147px;
  color: #797b85;
  font-size: 14px;
  line-height: 21px;
}
.service-highlights-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.service-highlights-heading {
  color: #c9cace;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px
}
.service-highlights-sub-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.s-h-sub-containers {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 14px 14px 14px 14px;
  border: 1px solid #1c1c21;
  border-radius: 8px;
}
.s-h-icon {
  position: relative;
  width: 30px;
  height: 30px;
}
.s-h-vector {
  width: 100%;
  height: 100%;
  background: url(./assets/images/a3a1df74-a9b8-4fbc-90d5-1715ab49db71.png)
    no-repeat center;
  background-size: 100% 100%;
}
.s-h-text {
  flex-grow: 1;
  width: 296px;
  color: #aeb0b6;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.services-buttons-container {
  display: flex;
  gap: 12px;
  padding: 8px 8px 8px 8px;
  border: 1px solid #1c1c21;
  border-radius: 100px;
}
.s-b-button {
  padding: 10px 10px 10px 10px;
  background: #1c1c21;
  border-radius: 100px;
}
.s-b-icon {
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.s-b-vector-1 {
  width: 9px;
  height: 16px;
  margin: 6px 0 0 9.5px;
  background: url(./assets/images/0c3386ba-a792-4136-b847-f3a044adf0c3.png)
    no-repeat center;
  background-size: 100% 100%;
}
.s-b-vector-2 {
  width: 9px;
  height: 16px;
  margin: 6px 0 0 9.5px;
  background: url(./assets/images/71868ca0-6bbf-4d9a-8e81-ef4d29abd45a.png)
    no-repeat center;
  background-size: 100% 100%;
}

/*Portfolio*/

.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px;
}
.case-image-1 {
  align-self: stretch;
  height: 353px;
  background: url(./assets/images/case-1.png)
    no-repeat center;
  background-size: cover;
  border-radius: 16px;
}
.case-image-2 {
  align-self: stretch;
  height: 353px;
  background: url(./assets/images/case-2.png)
    no-repeat center;
  background-size: cover;
  border-radius: 16px;
}
.case-image-3 {
  align-self: stretch;
  height: 353px;
  background: url(./assets/images/case-3.png)
    no-repeat center;
  background-size: cover;
  border-radius: 16px;
}
.case-container {
  display: flex;
  align-self: stretch;
  gap: 12px;
}
.case-text-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.case-name {
  color: #c9cace;
  font-size: 16px;
  font-weight: 500;
}
.case-date {
  height: 19px;
  color: #797b85;
  font-size: 14px;
  font-weight: 400;
}
.case-button {
  display: flex;
  gap: 6px;
  width: 123px;
  padding: 4px 0 4px 0;
  border-top: 1px solid #2e2e37;
}
.case-button-text {
  height: 19px;
  color: #f1f1f2;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.case-button-icon {
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.case-button-vector {
  width: 13.75px;
  height: 13.75px;
  margin: 3.125px 0 0 3.125px;
  background: url(./assets/images/f82e26be-5481-410b-830b-1ee4467d1374.png)
    no-repeat center;
  background-size: 100% 100%;
}

/*Faq`s*/

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 20px 0 20px 0;
}
.faq-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 24px 20px 24px;
}
.faq-container-q{
  display: flex;
  gap: 30px;
}
.faq-heading {
  width: 242px;
  height: 44px;
  color: #aeb0b6;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.faq-button {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
  border: 1px solid #1c1c21;
  border-radius: 100px;
  box-sizing: content-box;
}
.faq-icon {
  width: 18px;
  height: 18px;
}
.faq-vector-open {
  width: 9px;
  height: 4.5px;
  margin: 6.75px 0 0 4.5px;
  background: url(./assets/images/f05256b3-a1d1-4c94-97b1-1a2ebe1073e7.png)
    no-repeat center;
  background-size: 100% 100%;
}
.faq-container-a {
  width: 310px;
  color: #797b85;
  font-size: 14px;
  line-height: 21px;
}
.line {
  align-self: stretch;
  height: 1px;
  background-color: #1c1c21;
}
.faq-vector-close  {
  width: 9px;
  height: 4.5px;
  margin: 6.75px 0 0 4.5px;
  background: url(./assets/images/85690e99-3bde-48cc-9f66-789275d25356.png)
    no-repeat center;
  background-size: 100% 100%;
}

.faq-sub-container {
  display: flex;
}

.faq-line {
  width: 1px; 
  background-color: #1c1c21; 
}

.hide {
  display: none
}

/*Testimonials*/

.total-reviews-container {
  display: flex;
  flex-direction: column;
}
.total-reviews-text {
  color: #62646c;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.total-reviews-number {
  color: #c9cace;
  font-size: 20px;
  font-weight: 500;
}

.coment {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px 24px 24px 24px;
  background: #0e0e10;
  border: 1px solid #1c1c21;
  border-radius: 10px;
  flex-grow: 1;
}
.coment-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.coment-heading {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.name {
  color: #e4e4e6;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.country {
  color: #62646c;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.evaluation {
  display: flex;
  gap: 4px;
}
.star {
  width: 20px;
  height: 20px;
  background: url(./assets/images/ff88d4a7-d082-4586-b20f-58f518b1d9f6.png)
    no-repeat center;
  background-size: cover;
}
.coment-text {
  color: #e4e4e6;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

/*footer*/

.footer {
  margin: 80px 0 0 0;
}
.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer-logo-container {
  padding: 0 5% 2% 0;
}
.logo-damien {
  position: relative;
  width: 316px;
  height: 63px;
}
.vector-n {
  position: absolute;
  width: 15.78%;
  height: 100%;
  top: 0;
  left: 84.22%;
  background: url(./assets/images/4e9275e7-deaa-4e41-bdd3-2db88fb549a3.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 268;
}
.vector-e {
  position: absolute;
  width: 12.81%;
  height: 100%;
  top: 0;
  left: 68.07%;
  background: url(./assets/images/1b36ef59-2108-4b1c-b5cf-e9656f59d6d8.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 269;
}
.vector-i {
  position: absolute;
  width: 2.91%;
  height: 100%;
  top: 0;
  left: 60.98%;
  background: url(./assets/images/8b2569e6-5899-40ff-8b46-2b6f1ed8b6ce.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 270;
}
.vector-m {
  position: absolute;
  width: 19.79%;
  height: 100%;
  top: 0;
  left: 37.01%;
  background: url(./assets/images/e98abc6e-7f60-423b-b724-b17940b866b3.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 271;
}
.vector-a {
  position: absolute;
  width: 17.22%;
  height: 100%;
  top: 0;
  left: 17.29%;
  background: url(./assets/images/383e3366-0ec7-4d46-844e-c62ff642df34.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 272;
}
.vector-d {
  position: absolute;
  width: 15.98%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(./assets/images/da55f246-e62c-4e52-a279-4c6b5c89f612.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 273;
}

.footer-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-container {
  align-self: stretch;
  padding: 0 16px 0 16px;
  border-top: 1px solid #1c1c21;
  border-bottom: 1px solid #1c1c21;
}
.footer-sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 20px 40px 20px;
  border-right: 1px solid #1c1c21;
  border-left: 1px solid #1c1c21;
}
.footer-sub-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
  padding: 40px 20px 40px 20px;
  border-right: 1px solid #1c1c21;
  border-left: 1px solid #1c1c21;
}
.links-container {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  padding: 0 20px 0 20px;
}
.links-sub-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
}
.footer-text {
  color: #797b85;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.footer-button-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.footer-button {
  width: 70px;
  padding: 6px 0 6px 0;
  border-top: 1px solid #2e2e37;
}
.footer-text-2 {
  color: #f1f1f2;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
}
.footer-container-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 20px 16px 20px 16px;
}
.copyright {
  position: relative;
  color: #797b85;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}

/*Стилі для різних екранів*/

@media (max-width: 900px) {
    .navbar-brand {
        font-size: 24px;
        color: white;
        height: 30px;
        padding: 0 20px;
    }
    
    .contact-button {
        margin-top: 210px;
    }
}

/* Стилі для великих екранів */
@media (min-width: 900px) {

  .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      position: relative;
  }

  .navbar-brand {
      height: 30px;
  }

  .menu-toggle {
      display: none; /* Ховаємо кнопку меню на великих екранах */
  }

  .navbar-menu,
  .contact-button {
      display: flex;
  }

  .navbar-menu {
      background-color: #222222;
      border-radius: 8px 8px 0 0;
      overflow: hidden;
      border: 1px solid #1C1C21;
      margin: 0 auto;
  }

  .navbar-menu a {
      padding: 16px 24px;
      border-right: 2px solid #1C1C21;
  }

  .navbar-menu a:last-child {
      border-right: none;
  }

  .contact-button {
      background-color: #1C1C21;
      color: #ffffff;
      border: none;
      border-radius: 8px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
  }

  .contact-button:hover {
      background-color: #2b2b2f;
  }
}

@media (max-width: 1024px) {
  .hero-section-3 {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .grid-container {
    width: 90%; /* Розширення сітки для кращого відображення на маленькому екрані */
  }

  .grid-item {
    border-radius: 10px;
  }

  .item1 { 
    grid-column: 1 / 3; 
    grid-row: 1 / 2; 
  }

  .item2 {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
    border-top: 10px solid #000;
    border-left: 10px solid #000;
    border-right: 10px solid #000;
    position: relative;
    border-radius: 20px 20px 0 0;
    width: 120px;
    height: 240px;
    z-index: 2;
    transform: translateY(160px) translateX(-75px);
  }

  .item3 { 
    grid-column: 5 / 7; grid-row: 1 / 2;
  }

  .item4 {
    grid-column: 3 / 5; 
    grid-row: 1 / 3; 

  }

  .item5 { 
    grid-column: 5 / 7;
    grid-row: 2 / 2;
  }

  .item6 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 100%;
    height: auto;
  }
  .about-image-container {
    flex-direction: column;
  }

  .about-socials-container {
    flex-direction: column;
  }

  .about-sub-container {
    flex-direction: column;
  }
  
  .hide-m {
    display: none
  }
}

/* Cтилі для ноутбука */
@media (min-width: 1440px) {
    .hide-c{
      display: none
    }
    .hero-section-1 {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        padding: 60px 80px;
      }
      .hs-1-text-container {
        width: 436px;
      }
      .hs-1-sub-container-1 {
        width: 238px;
      }
      .hs-1-text {
        font-size: 18px;
        line-height: 24px;
      }
      .hs-1-heading {
        font-size: 48px;
        line-height: 66px;
      }
      .hs-1-sub-con-heading, .hs-1-work-together {
        font-size: 48px;
        line-height: 66px;
      }
      .hs-1-button {
        padding: 16px 40px;
      }
      .hs-1-icon {
        width: 24px;
        height: 24px;
      }
      .abstract-design {
        display: block;
        width: 260px;
        height: 254px;
        top: 65px;
        left: 41.5%;
        flex-shrink: 0;
      }
      /*hero-section-3*/

      .hero-section-3 {
        margin: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
    
      .grid-container {
        width: 90%;
      }
    
      .grid-item {
        border-radius: 10px;
      }
    
      .item1 { 
        grid-column: 1 / 3; 
        grid-row: 1 / 2; 
      }
    
      .item2 {
        grid-column: 3 / 5;
        grid-row: 1 / 2;
        border-top: 10px solid #000;
        border-left: 10px solid #000;
        border-right: 10px solid #000;
        position: relative;
        border-radius: 20px 20px 0 0;
        width: 220px;
        height: 300px;
        z-index: 2;
        transform: translateY(100px) translateX(-75px);
      }
    
      .item3 { 
        grid-column: 6 / 7; grid-row: 1 / 2;
      }
    
      .item4 {
        grid-column: 3 / 6; 
        grid-row: 1 / 3; 
    
      }
    
      .item5 { 
        grid-column: 6 / 7;
        grid-row: 2 / 2;
      }
    
      .item6 {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        width: 100%;
        height: auto;
      }

      /*About*/

      .about-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        gap: 60px;
        position: relative;
        width: 1280px;
        margin: 150px 0 0 80px;
      }
      .about-text {
        font-size: 18px;
      }
      .about-sub-container {
        align-items: center;
      }
      .about-text-container {
        flex-grow: 1;
      }
      .about-heading {
        height: 66px;
        font-size: 48px;
        line-height: 65.568px;
      }
      .about-image {
        flex-grow: 1;
        position: relative;
        height: 585px;
        border-radius: 5%;
      }
      .about-intro-container {
        gap: 16px;
        padding: 30px 30px 30px 30px;
      }
      .about-intro-header {
        gap: 6px;
      }
      .about-icon {
        width: 29.25px;
        height: 30px;
      }
      .about-intro-heading {
        height: 33px;
        font-size: 24px;
        line-height: 32.784px;
      }
      .about-paragraph {
        width: 570px;
        height: 144px;
        font-size: 16px;
        line-height: 24px;
      }
      .about-contact-container {
        gap: 30px;
        padding: 30px 30px 30px 30px;
      }
      .about-contact-header {
        gap: 6px;
      }
      .about-contact-icon {
        width: 29.25px;
        height: 30px;
      }
      .about-icon-star {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-size: 100% 100%;
        z-index: 102;
      }
      .about-contact-heading {
        height: 33px;
        font-size: 24px;
        line-height: 32.784px;
      }
      .about-contact-info {
        gap: 16px;
      }
      .about-contact-data-container {
        gap: 6px;
      }
      .about-contact-label {
        height: 24px;
        font-size: 16px;
      }
      .about-contact-detail {
        height: 27px;
        font-size: 18px;
      }
      .about-socials-container {
        align-items: center;
        gap: 50px;
      }
      .about-actions-container {
        flex-grow: 1;
      }

      .about-image-container-laptop {
        display: flex;
        flex-direction: row-reverse;
        gap: 30px; 
      }

      /*Services*/
      .services-buttons-container-m {
        display: none
      }

      .services-image {
        flex-grow: 1;
        height: 562px;
        width: 628px;
        background-size: cover;
        border-radius: 20px 20px 20px 100px;
      }

      .services-sub-heading {
        font-size: 34px;
        font-weight: 600;
        text-transform: uppercase;
      }

      .services-paragraph {
        width: 620px;
        height: 96px;
        font-size: 16px;
        line-height: 24px;
      }

      .s-h-text {
        display: flex;
        align-items: center;
        flex-grow: 1;
        width: 544px;
        height: 48px;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
      }

      .service-highlights-heading {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }

      /*Portfolio*/

      .case-image-1, .case-image-2, .case-image-3 {
        height: 428px;
      }

      .case-name {
        font-size: 18px;
      }

      .case-date {
        font-size: 16px;
      }
      
      /*Faq`s*/

      .faq-item {
        padding: 24px 40px 24px 40px;
      }

      .faq-heading {
        width: 489px;
        font-size: 18px;
      }

      .faq-container-a {
        width: 489px;
        font-size: 16px;
      }

      /*Testimonials*/

      .total-reviews-text {
        font-size: 20px;
        line-height: 36px;
      }
      .total-reviews-number {
        font-size: 20px;
        font-weight: 500;
      }
      .name {
        font-size: 18px;
        line-height: 27px;
      }
      .country {
        font-size: 16px;
        line-height: 24px;
      }
      .coment-text {
        font-size: 18px;
        line-height: 27px;
      }
    
      /*footer*/
          
      .footer {
        margin: 80px 0 0 0;
      }
      .footer-logo {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      .footer-logo-container {
        padding: 0 5% 2% 0;
      }
      .logo-damien {
        position: relative;
        width: 850px;
        height: 169px;
      }
      .footer-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .footer-container {
        display: flex;
        align-self: center;
        padding: 0 80px 0 80px;
        width: 90%;
      }
      .footer-sub-container {
        align-items: flex-start;
        padding: 80px 60px 80px 60px;
        border-top: 0px;
        border-right: 0px;
        flex: 1;
      }
      .footer-sub-container-2 {
        flex-direction: row; 
        align-items: flex-start;
        gap: 0;
        padding: 80px 50px 80px 50px;
        flex: 2;
      }
      .links-container {
        flex: 1;
      }
      .links-sub-container {
        flex: 1;
      }
      .footer-container-2 {
        flex-direction: row;
      }і
      .copyright {
        font-size: 14px;
      }

  }

/* Cтилі для Комп'ютера */
@media (min-width: 1920px) {
  .hero-section-1 {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      padding: 60px 80px;
    }
    .hs-1-text-container {
      width: 436px;
    }
    .hs-1-container {
      width: 401px;
    }
    .hs-1-sub-container-1 {
      width: 238px;
    }
    .hs-1-text {
      font-size: 18px;
      line-height: 24px;
    }
    .hs-1-heading {
      font-size: 48px;
      line-height: 66px;
    }
    .hs-1-sub-con-heading, .hs-1-work-together {
      font-size: 48px;
      line-height: 66px;
    }
    .hs-1-button {
      padding: 16px 40px;
    }
    .hs-1-icon {
      width: 24px;
      height: 24px;
    }
    .abstract-design {
      display: block;
      width: 260px;
      height: 254px;
      top: 65px;
      left: 41.5%;
      flex-shrink: 0;
    }

    /*About*/

    .about-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: nowrap;
      gap: 80px;
      position: relative;
      width: 1596px;
      margin: 200px 0 0 162px;
    }
    .about-sub-container {
      align-items: center;
    }
    .about-text-container {
      flex-grow: 1;
    }
    .about-heading {
      height: 79px;
      font-size: 58px;
      line-height: 79px;
    }
    .about-text {
      font-size: 20px;
    }
    .about-button {
      gap: 10px;
      width: 163px;
      padding: 16px 24px 16px 24px;
    }
    .about-button-text {
      height: 27px;
      font-size: 18px;
    }
    .about-image {
      flex-grow: 1;
      position: relative;
      height: 710px;
    }
    .about-intro-container  {
      gap: 20px;
      padding: 40px 40px 40px 40px;
    }
    .about-intro-header {
      gap: 10px;
    }
    .about-icon {
      width: 39px;
      height: 40px;
    }
    .about-intro-heading {
      height: 41px;
      font-size: 30px;
    }
    .about-paragraph {
      width: 703px;
      height: 135px;
      font-size: 18px;
      line-height: 27px;
    }
    .about-contact-container {
      gap: 40px;
      padding: 40px 40px 40px 40px;
    }
    .about-contact-header {
      gap: 10px;
    }
    .about-contact-icon {
      width: 39px;
      height: 40px;
    }
    .about-icon-star {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-size: 100% 100%;
      z-index: 40;
    }
    .about-contact-heading {
      height: 41px;
      font-size: 30px;
      line-height: 40.98px;
    }
    .about-contact-info {
      gap: 20px;
    }
    .about-contact-data-container {
      gap: 10px;
    }
    .about-contact-label {
      height: 27px;
      font-size: 18px;
    }
    .about-contact-detail {
      height: 30px;
      font-size: 20px;
    }
    .about-socials-container {
      align-items: center;
      gap: 60px;
    }
    .about-social-buttons {
      flex-shrink: 0;
      gap: 16px;
      width: 165px;
    }
    .about-social-button {
      padding: 14px 14px 14px 14px;
    }
    .about-actions-container {
      flex-grow: 1;
    }

    /*Services*/
    .services-buttons-container-m {
      display: none
    }

    .services-image {
      flex-grow: 1;
      height: 710px;
      width: 791px;
      background-size: cover;
      border-radius: 20px 20px 20px 100px;
    }

    .services-sub-heading {
      font-size: 44px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .services-paragraph {
      width: 773px;
      height: 108px;
      font-size: 18px;
      line-height: 27px;
    }

    .s-h-text {
      display: flex;
      align-items: center;
      flex-grow: 1;
      width: 544px;
      height: 48px;
      font-size: 18px;
      line-height: 27px;
      text-transform: uppercase;
    }

    .service-highlights-heading {
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
    }

    /*Portfolio*/

    .case-image-1, .case-image-2, .case-image-3 {
      height: 519px;
    }

    .case-name {
      font-size: 20px;
    }

    .case-date {
      font-size: 18px;
      font-weight: 400;
    }
    
    .case-button {
      width: 159px;
    }

    .case-button-text {
      font-size: 19px;
      font-weight: 500;
    }

    .case-button-icon {
      gap: 10px;
      position: relative;
      padding: 6px 0 6px 0;
    }

    .case-button-vector {
      width: 16.5px;
      height: 16.5px;
    }

    /*Faq`s*/

    .faq-item {
      padding: 30px 50px 30px 50px;
    }

    .faq-heading {
      width: 650px;
      font-size: 25px;
    }

    .faq-container-a {
      width: 650px;
      font-size: 16px;
    }

    /*Testimonials*/

    .coment {
      padding: 30px 30px 30px 30px;
    }

    .total-reviews-text {
      font-size: 24px;
      line-height: 36px;
    }
    .total-reviews-number {
      font-size: 24px;
      font-weight: 500;
    }
    .name {
      font-size: 24px;
      line-height: 36px;
    }
    .country {
      font-size: 18px;
      line-height: 27px;
    }
    .coment-text {
      font-size: 24px;
      line-height: 36px;
    }

    .star {
      width: 25px;
      height: 25px;
    }

    /*footer*/
          
    .footer {
      margin: 80px 0 0 0;
    }
    .footer-logo {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .footer-logo-container {
      padding: 0 5% 4% 0;
    }
    .logo-damien {
      position: relative;
      width: 1062px;
      height: 213px;
    }
    .footer-2 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .footer-container {
      display: flex;
      align-self: center;
      padding: 0 80px 0 80px;
      width: 90%;
    }
    .footer-sub-container {
      align-items: flex-start;
      padding: 100px 80px 100px 80px;
      border-top: 0px;
      border-right: 0px;
      flex: 1;
    }
    .footer-text {
      font-size: 20px;
    }
    .footer-text-2 {
      font-size: 18px;
  }
    .footer-sub-container-2 {
      flex-direction: row; 
      align-items: flex-start;
      gap: 0;
      padding: 80px 50px 80px 50px;
      flex: 2;
    }
    .links-container {
      flex: 1;
    }
    .links-sub-container {
      flex: 1;
    }
    .footer-container-2 {
      flex-direction: row;
    }і
    .copyright {
      font-size: 20px;
    }
}
